body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  -webkit-filter: drop-shadow(0 0 6px currentColor);
          filter: drop-shadow(0 0 6px currentColor);
  -webkit-transform: translate3d(104em, 0, 0);
          transform: translate3d(104em, 0, 0);
  -webkit-animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
          animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}

@media screen and (max-width: 750px) {
  .star {
    -webkit-animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
            animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}

.star:nth-child(1) {
  --star-tail-length: 7.34em;
  --top-offset: 66.9vh;
  --fall-duration: 8.945s;
  --fall-delay: 8.859s;
}

.star:nth-child(2) {
  --star-tail-length: 6.36em;
  --top-offset: 57.54vh;
  --fall-duration: 10.573s;
  --fall-delay: 0.191s;
}

.star:nth-child(3) {
  --star-tail-length: 5.26em;
  --top-offset: 12.2vh;
  --fall-duration: 10.378s;
  --fall-delay: 9.488s;
}

.star:nth-child(4) {
  --star-tail-length: 7.3em;
  --top-offset: 30.44vh;
  --fall-duration: 9.469s;
  --fall-delay: 8.012s;
}

.star:nth-child(5) {
  --star-tail-length: 6.92em;
  --top-offset: 63.98vh;
  --fall-duration: 11.686s;
  --fall-delay: 5.135s;
}

.star:nth-child(6) {
  --star-tail-length: 5.55em;
  --top-offset: 70.25vh;
  --fall-duration: 6.437s;
  --fall-delay: 3.378s;
}

.star:nth-child(7) {
  --star-tail-length: 5.04em;
  --top-offset: 7.13vh;
  --fall-duration: 11.155s;
  --fall-delay: 9.679s;
}

.star:nth-child(8) {
  --star-tail-length: 7.17em;
  --top-offset: 48.32vh;
  --fall-duration: 11.173s;
  --fall-delay: 7.977s;
}

.star:nth-child(9) {
  --star-tail-length: 6.96em;
  --top-offset: 45.56vh;
  --fall-duration: 10.792s;
  --fall-delay: 5.487s;
}

.star:nth-child(10) {
  --star-tail-length: 6.4em;
  --top-offset: 88.67vh;
  --fall-duration: 7.013s;
  --fall-delay: 6.295s;
}

.star:nth-child(11) {
  --star-tail-length: 7.01em;
  --top-offset: 3.79vh;
  --fall-duration: 8.537s;
  --fall-delay: 4.291s;
}

.star:nth-child(12) {
  --star-tail-length: 6.11em;
  --top-offset: 0.74vh;
  --fall-duration: 10.406s;
  --fall-delay: 8.183s;
}

.star:nth-child(13) {
  --star-tail-length: 7.41em;
  --top-offset: 55.45vh;
  --fall-duration: 8.449s;
  --fall-delay: 9.675s;
}

.star:nth-child(14) {
  --star-tail-length: 7.01em;
  --top-offset: 47.29vh;
  --fall-duration: 8.816s;
  --fall-delay: 7.755s;
}

.star:nth-child(15) {
  --star-tail-length: 7.11em;
  --top-offset: 76.4vh;
  --fall-duration: 10.341s;
  --fall-delay: 3.708s;
}

.star:nth-child(16) {
  --star-tail-length: 6.53em;
  --top-offset: 46.29vh;
  --fall-duration: 11.251s;
  --fall-delay: 5.626s;
}

.star:nth-child(17) {
  --star-tail-length: 5.28em;
  --top-offset: 21.19vh;
  --fall-duration: 7.2s;
  --fall-delay: 5.97s;
}

.star:nth-child(18) {
  --star-tail-length: 5.71em;
  --top-offset: 44.42vh;
  --fall-duration: 6.651s;
  --fall-delay: 0.737s;
}

.star:nth-child(19) {
  --star-tail-length: 6.02em;
  --top-offset: 66.1vh;
  --fall-duration: 7.851s;
  --fall-delay: 1.01s;
}

.star:nth-child(20) {
  --star-tail-length: 7.29em;
  --top-offset: 41.06vh;
  --fall-duration: 6.637s;
  --fall-delay: 9.523s;
}

.star:nth-child(21) {
  --star-tail-length: 6.29em;
  --top-offset: 88.06vh;
  --fall-duration: 6.498s;
  --fall-delay: 5.921s;
}

.star:nth-child(22) {
  --star-tail-length: 5.64em;
  --top-offset: 81.56vh;
  --fall-duration: 7.661s;
  --fall-delay: 1.978s;
}

.star:nth-child(23) {
  --star-tail-length: 5.85em;
  --top-offset: 15.59vh;
  --fall-duration: 10.136s;
  --fall-delay: 5.119s;
}

.star:nth-child(24) {
  --star-tail-length: 5.15em;
  --top-offset: 68.26vh;
  --fall-duration: 7.658s;
  --fall-delay: 8.418s;
}

.star:nth-child(25) {
  --star-tail-length: 5.48em;
  --top-offset: 53.8vh;
  --fall-duration: 10.517s;
  --fall-delay: 1.206s;
}

.star:nth-child(26) {
  --star-tail-length: 6.78em;
  --top-offset: 45.56vh;
  --fall-duration: 6.404s;
  --fall-delay: 2.095s;
}

.star:nth-child(27) {
  --star-tail-length: 5.02em;
  --top-offset: 39.22vh;
  --fall-duration: 9.791s;
  --fall-delay: 9.254s;
}

.star:nth-child(28) {
  --star-tail-length: 5.05em;
  --top-offset: 59.91vh;
  --fall-duration: 10.947s;
  --fall-delay: 4.311s;
}

.star:nth-child(29) {
  --star-tail-length: 5.6em;
  --top-offset: 18vh;
  --fall-duration: 11.664s;
  --fall-delay: 9.832s;
}

.star:nth-child(30) {
  --star-tail-length: 6.01em;
  --top-offset: 95.79vh;
  --fall-duration: 8.261s;
  --fall-delay: 2.394s;
}

.star:nth-child(31) {
  --star-tail-length: 7.35em;
  --top-offset: 67.81vh;
  --fall-duration: 11.815s;
  --fall-delay: 6.867s;
}

.star:nth-child(32) {
  --star-tail-length: 5.15em;
  --top-offset: 50.49vh;
  --fall-duration: 7.31s;
  --fall-delay: 9.885s;
}

.star:nth-child(33) {
  --star-tail-length: 6.53em;
  --top-offset: 74.13vh;
  --fall-duration: 9.739s;
  --fall-delay: 2.132s;
}

.star:nth-child(34) {
  --star-tail-length: 6.94em;
  --top-offset: 67.68vh;
  --fall-duration: 6.795s;
  --fall-delay: 1.8s;
}

.star:nth-child(35) {
  --star-tail-length: 5.86em;
  --top-offset: 36.6vh;
  --fall-duration: 7.279s;
  --fall-delay: 1.157s;
}

.star:nth-child(36) {
  --star-tail-length: 6.03em;
  --top-offset: 71.13vh;
  --fall-duration: 11.317s;
  --fall-delay: 5.363s;
}

.star:nth-child(37) {
  --star-tail-length: 6.93em;
  --top-offset: 70.38vh;
  --fall-duration: 6.164s;
  --fall-delay: 7.334s;
}

.star:nth-child(38) {
  --star-tail-length: 7.11em;
  --top-offset: 0.27vh;
  --fall-duration: 7.644s;
  --fall-delay: 1.262s;
}

.star:nth-child(39) {
  --star-tail-length: 7.07em;
  --top-offset: 97.41vh;
  --fall-duration: 9.216s;
  --fall-delay: 8.248s;
}

.star:nth-child(40) {
  --star-tail-length: 5.07em;
  --top-offset: 87.09vh;
  --fall-duration: 11.344s;
  --fall-delay: 0.679s;
}

.star:nth-child(41) {
  --star-tail-length: 5.73em;
  --top-offset: 39.42vh;
  --fall-duration: 6.308s;
  --fall-delay: 7.307s;
}

.star:nth-child(42) {
  --star-tail-length: 5.89em;
  --top-offset: 55.06vh;
  --fall-duration: 6.942s;
  --fall-delay: 0.534s;
}

.star:nth-child(43) {
  --star-tail-length: 7.32em;
  --top-offset: 70.08vh;
  --fall-duration: 8.503s;
  --fall-delay: 1.386s;
}

.star:nth-child(44) {
  --star-tail-length: 6.26em;
  --top-offset: 45.16vh;
  --fall-duration: 9.761s;
  --fall-delay: 5.244s;
}

.star:nth-child(45) {
  --star-tail-length: 6.68em;
  --top-offset: 49.89vh;
  --fall-duration: 6.847s;
  --fall-delay: 6.602s;
}

.star:nth-child(46) {
  --star-tail-length: 5.96em;
  --top-offset: 61.51vh;
  --fall-duration: 8.481s;
  --fall-delay: 6.629s;
}

.star:nth-child(47) {
  --star-tail-length: 6.73em;
  --top-offset: 37.89vh;
  --fall-duration: 11.521s;
  --fall-delay: 8.412s;
}

.star:nth-child(48) {
  --star-tail-length: 6.16em;
  --top-offset: 83.2vh;
  --fall-duration: 8.849s;
  --fall-delay: 7.675s;
}

.star:nth-child(49) {
  --star-tail-length: 7.29em;
  --top-offset: 12.52vh;
  --fall-duration: 11.281s;
  --fall-delay: 7.133s;
}

.star:nth-child(50) {
  --star-tail-length: 6.17em;
  --top-offset: 2.55vh;
  --fall-duration: 11.514s;
  --fall-delay: 7.479s;
}

.star::before, .star::after {
  position: absolute;
  content: '';
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  -webkit-animation: blink 2s linear infinite;
          animation: blink 2s linear infinite;
}

.star::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.star::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@-webkit-keyframes fall {
  to {
    -webkit-transform: translate3d(-30em, 0, 0);
            transform: translate3d(-30em, 0, 0);
  }
}

@keyframes fall {
  to {
    -webkit-transform: translate3d(-30em, 0, 0);
            transform: translate3d(-30em, 0, 0);
  }
}

@-webkit-keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

@-webkit-keyframes blink {
  50% {
    opacity: 0.6;
  }
}

@keyframes blink {
  50% {
    opacity: 0.6;
  }
}
/*# sourceMappingURL=styles.css.map */